.individual-expense{
    margin: 5px;
}
.labels{
    color: #0396A6;
    font-weight: 700;
}
span{
    color:black;
    font-weight: 400;
}
.expense-item-container{
    display:flex;
}

p{
    display:inline-block;
    margin: 10px;
}

.current-expenses-span{
    margin-left:15px;
    font-weight: 500;

}